  
  .lookup__button {/*
    -webkit-appearance: none;
    background: mediumseagreen;
    border: 2px solid black;
    border-radius: 20px;
    outline: none;
    padding: 0.5em 0.8em;
    margin-right: 15px;
    color: #ffffff;
    font-size: 1em;
    
    font-weight: bold;
    cursor: pointer;*/
    display: block;
    border-radius: 100px;
    border: 1px solid lightblue;
    width: auto;
    color: lightskyblue;
    background-color: white;
    padding: 14px 28px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    border-color: grey;
    
  }

  .lookup__button:hover {
     background: lightskyblue;
     color: black;
  }
  .lookup__button_del {
    -webkit-appearance: none;
    background: orangered;
    border: 2px solid black;
    border-radius: 20px;
    outline: none;
    padding: 0.5em 0.8em;
    margin-right: 15px;
    color: #ffffff;
    font-size: 1em;
   
    font-weight: bold;
    cursor: pointer;
  }
  
  .lookup__button:active {
    background: grey;
  }
  
  