@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Staatliches', serif ;
	font-size: 18 px;
	text-shadow: 1px 1px 1px #aaa;
	
}



legend {
	color:black;
	
}

label {
	color:lightslategray;
}

fieldset {
	border-color: lightblue;
	border-radius: 30px;
	color:black;
	font-weight: bold;
}


.container {
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	opacity: 0.87;
    border: 1px solid black;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: lightskyblue;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	color: lightslategrey;
	font-size: medium;
	font-style: oblique;
	display: inline-block;
	margin-bottom: 5px;
}
input:enabled {
	outline: none;
	color:white;
	border: 2px solid #f0f0f0;
	background-color: lightskyblue !important;
	border-radius: 10px;
 }

.form-control input , select , option {

	color: white;
    /* border-top: none; */
    /* border-left: none; */
    /* border-right: none; */
    background-color: white !important;
    border-bottom: 2px dashed green;
    display: block;
    font-family: inherit;
    font-size: large;
    padding: 10px;
    width: 84%;
	color:black;
}

sp-tabs{
	--spectrum-tabs-item-gap: 24px;
    font-size: 50px;
    background-color: lightblue;
	color:white;
	
}


.form-control.success input {
	/*border-color: lightblue;*/
	
	background-color:white !important ;
	color:black !important;
}


.form-control.error input {
	/*border-color: yellow;*/
		
	background-color:white !important ;
	color:black !important;
}

.form-control a {
	
/*	position: absolute;
	top: 13px;
	right: 5px;
	max-height: 50px;
	max-width:50px;
	*/
	text-align: center;
	justify-content: center;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: lightblue;
	visibility: visible;

    font-size: 2em;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
	color: #e74c3c;
    visibility: visible;
    font-size: 2em;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}
/*
.form a {
	background-color: lightgray;
	border: 0px solid black;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
} */









/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: transparent;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
    /*
	position: fixed;
	bottom: 0;
	left: 90;
    */
	/*transform: translateX(-50%); */
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: lightblue;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}