mixin datepicker(validationsel,key,placeholder)
    input(type="date" id=validationsel data-bind=key value="2018-07-22"  min="2018-01-01" max="2018-12-31")
    - //input(type="text" readonly onchange="new Datepicker(this,{clearBtn:true,buttonClass:'btn-form',format:'dd/mm/yyyy',language:'it'});" name="foo" id=validationsel data-date="01/25/2020" placeholder=placeholder)
    <i class="fas fa-check-circle"></i>
    <i class="fas fa-exclamation-circle"></i>
    <small>Error message</small>
    