- let title = info['title'];
- let message = info['message'];
<sp-theme scale="large" color="dark">
<sp-banner type="info">
    <div slot="header">#{title}</div>
    <div slot="content">#{message}</div>
</sp-banner>
<br>
a(href="/cat" id="btn-0-annulla" data-link class="btn-form" ) Ok, Ho capito!
</sp-theme>