<sp-theme scale="large" color="light">
    .phase-container
        <sp-tabs selected="3">
            <sp-tab label="Tab 1" value="1">
            </sp-tab>
            <sp-tab label="Tab 2" id="btn-2-indietro"  data-link value="2"></sp-tab>
            <sp-tab label="Tab 3" value="3"></sp-tab>   
        </sp-tabs><br><br>
                - let edit_mode = detail['edit_mode']
                - let phase_no = detail['phase_no']
                .form-row-container
                    
                .form-row-container
                    sp-field-label(for="url-1" size="m") Id :
                    sp-textfield(placeholder="" id="url-id" data-bind="id" readonly)
                .form-row-container
                    sp-field-label(for="url-1" size="m") Width :
                    sp-textfield(placeholder="Enter your life story" id="url-1" data-bind="width" disabled)
                    a(href="/cat/wizard/lookup" id="btn-0-lookup" data-link class="btn-form fas fa-search" name="lookup")
                .form-row-container
                    sp-field-label(for="url-1" size="m") Url Pure Bind:
                    sp-textfield( id="url-bind" value= "unknown" data-bind="url")
                .form-row-container
                    sp-field-label(for="url-1" size="m") Height :
                    sp-textfield(placeholder="Enter your life story" id="url-height" data-bind="height")
                <br><br>
                a(href="/cat/wizard" id="btn-0-indietro" data-link class="btn-form" ) Indietro
                
</sp-theme>