<sp-theme scale="large" color="dark">
<h1 style="color:white">Home Page</h1>
<h3 style="color:white">Il nostro negozio di Bike Rent</h3>

    <p style="color:whitesmoke">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum ratione atque debitis tempora ipsa voluptate quae, sed quos velit natus totam fugit placeat sequi porro accusamus! Dolore nisi officia esse consectetur neque quis? Ullam deleniti rem reprehenderit odit aliquam accusantium, consequatur officiis in, earum sunt sapiente unde expedita voluptates quia. Libero temporibus repellendus sequi ipsum repudiandae veniam facilis, iure praesentium adipisci laudantium voluptate rerum ducimus ad perferendis natus distinctio sint voluptates quas pariatur aut aliquid non illum assumenda. Repellat nesciunt autem nobis optio ducimus eligendi architecto vitae officia porro, laborum ratione dolor sapiente, sed cum est deserunt qui! Ipsum impedit aperiam nostrum praesentium atque? Ad molestias ipsa consequuntur error sed temporibus hic? Quod, qui voluptate sit repudiandae architecto incidunt totam.</p>


</sp-theme>