.container
    include ./includes/lista-mc.pug
    include ./includes/textfield.pug
    - const data=detail.data;
    - const headers=detail.header;
    .header
        .h2 Elenco Prenotazioni
    <div id="form" class="form">
        <div>
            +lista-mc(headers,data,"/booking")
        </div>
        .toolbar()
            a(href="/cats" id="btn-0-annulla" value="annulla" data-link class="btn-form" ) Seleziona 
    </div>