.container
    include ./includes/select.pug
    include ./includes/textfield.pug
    include ./includes/lookup-textfield.pug
    include ./includes/datepicker.pug
    include ./includes/datepicker-range.pug
    include ./includes/file-upload.pug
    include ./includes/radio-button.pug
    include ./includes/tasto-annulla.pug
    include ./includes/tasto-conferma.pug
    - let cmbQty = detail['cmbQty'];
    - let picture_uri=detail['picture_uri'];
    - let callingLink = detail['meta'].callLink;
    .header
        .h2 Booking Edit Item
    <div id="form" class="form">
      <div class="card-trip">
        -let uri='http://localhost:1337'+picture_uri;
            img(src=uri)
            <div class="card-trip-infos"></div>
             <div class="form-control">
                <label for="unityCost">Costo Unitario: *</label>
                +textfield("unityCost","unityCost","unityCost")     
            </div>
            <div class="form-control">
                <label for="quantity">Selezionare il numero di bici:</label>
                +select("quantity","quantity",cmbQty)
            </div>
      </div>  
    </div>
    <div>
        +tasto-annulla(callingLink,'Indietro')
        +tasto-conferma(callingLink,'Modifica')
    </div>