.container
    include ./includes/select.pug
    include ./includes/textfield.pug
    include ./includes/lookup-textfield.pug
    include ./includes/datepicker.pug
    include ./includes/datepicker-range.pug
    include ./includes/file-upload.pug
    include ./includes/radio-button.pug
    include ./includes/tasto-annulla.pug
    - let cmbProva = detail['cmbProva'];
    - let callingLink = detail['meta'].callLink;
    .header
        .h2 Booking
    <div id="form" class="form">
    <div class="form-control">
        <label for="booking_uuid">Booking UUID: *</label>
        <label for="booking_uuid">? il numero di prenotazione Booking UUID è indispensabile per rintracciare presso il rivenditore la propria prenotazione.</label>
        +textfield("cbooking_uuid","booking_uuid","booking_uuid")     
    </div>
    
    <div class="form-control">
      
    </div>
    <fieldset>
         <legend>Periodo Noleggo:</legend>
             <div class="form-control">
                <label for="date_ini">Dal:*</label>
                +datepicker("date_ini","date_ini","date_ini")
             </div>
    <div class="form-control">
        <label for="date_fin">Al:*</label>
        +datepicker("date_fin","date_fin","date_fin")
    </div>
   
    </fieldset>
    <fieldset>
         <legend>Cliente:</legend>
    <div class="form-control">
        <label for="surname">Cognome:*</label>
        +textfield("surname","surname","surname")
    </div>
    <div class="form-control">
        <label for="name">Nome:*</label>
        +textfield("name","name","name")
    </div>
    <div >
        <fieldset>
            <legend>Allegati:</legend>
                <div>
                   
                        <label for="cat-upload">FotoCopia Doc. Identità:*</label>
                        +file-upload("cat-upload","upload","upload")
                         <label for="cat-height">radio:*</label>
        <br>

        - const values=["1"]
        - const labels=["Autorizzo al trattamento dei dati esclusivamente per il tempo necessaro al noleggio."]
        +radiobutton("radio-name","radio-val",labels,values)
                </div>
                
        </fieldset>
    </div>
    </fieldset>
        +tasto-annulla(callingLink,'Indietro')
    </div>
    <div>
</div>