.container
    include ./includes/select.pug
    include ./includes/textfield.pug
    include ./includes/lookup-textfield.pug
    include ./includes/datepicker.pug
    include ./includes/datepicker-range.pug
    include ./includes/file-upload.pug
    include ./includes/radio-button.pug
    include ./includes/tasto-annulla.pug
    - let cmbProva = detail['cmbProva'];
    - let callingLink = detail['meta'].callLink;
    <sp-theme scale="large" color="light">
    <sp-tabs selected="3">
            <sp-tab label="Booking" value="1"><span>Booking</i>
            </sp-tab>
            <sp-tab label="Bike Cart" value="2"><span>Bikes</i>
            </sp-tab>
            <sp-tab label="Customer Infos" value="3"><i class="fas fa-bicycle"><span> Infos</i>
            </sp-tab>
            <sp-tab-panel value="1"></i></sp-tab-panel>
            <sp-tab-panel value="2"></sp-tab-panel>
            <sp-tab-panel value="3"></sp-tab-panel>
    </sp-tabs> 
    </sp-theme>
    <fieldset>
         <legend>Cliente:</legend>
         <i class="far fa-address-card">
    <div class="form-control">
        <label for="customer-name">Nome:*</label>
        +textfield("firstname","firstname","Inserire il nome...")
    </div>
    <div class="form-control">
        <label for="customer-surname">Cognome:*</label>
         +textfield("surname","surname","Inserire il cognome...")
      
    </div>
    <div class="form-control">
        <label for="customer-email">Email:*</label>
        +textfield("email","email","Inserire email")
    </div>
    <div class="form-control">
        <label for="customer-phoneno">Telefono:*</label>
        +textfield("phoneNo","phoneNo","Inserire il Tel.")
    </div>
    </fieldset>
    <div >
        <fieldset>
            <legend>Allegati:</legend>
                <div>
                   
                        <label for="cat-upload">FotoCopia Doc. Identità:*</label>
                        +file-upload("cat-upload","upload","upload")
                         <label for="cat-height">radio:*</label>
        <br>

        - const values=["1"]
        - const labels=["Autorizzo al trattamento dei dati esclusivamente per il tempo necessaro al noleggio."]
        +radiobutton("radio-name","radio-val",labels,values)
                </div>
                
    </div>
    </fieldset>
    <fieldset>
     a(href="/booking/wizard" id="btn-0-indietro" data-link class="btn-form" )
        <i class="far fa-arrow-alt-circle-left"></i>
</div>

        